@model DataAccessLayer.Models.RoleViewModel

@{
    ViewData["Title"] = "Role";
}

<h1>Role</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Message != null)
        {
            <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
        }
        @if (ViewBag.error != null)
        {
            <div class="p-1 mb-2 bg-danger text-white">@ViewBag.error</div>
        }
        <form asp-action="CreateRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Partial("_RoleForm")
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<section Scripts>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</section>
