@model DataAccessLayer.Models.RoleViewModel

@{
    ViewData["Title"] = "EditRole";
}

<h1>EditRole</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Partial("_RoleForm")
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<section Scripts>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</section>
