@{
    Layout = null; // Set the layout to null if you don't want to use a shared layout for this page
}
<!DOCTYPE html>
<html>
<body>
<div style="margin-left:30%;">
   <h1 style="color:red;">Access Denied</h1>
   <h4 style="color:red;">You do not have permission to view this resource.</h4>
   <img src="/ProfilePicture/Unauthorized.jpg" style="height: 500px; width: 500px;" alt="Access Denied" />
</div>

</body>
</html>

